<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Отсутствует
  <% end %>
</p>

<p>
  Количество плацкартных вагонов: <%= @train.wagons.econom.count %>
</p>

<p>
  Количество купейных вагонов: <%=@train.wagons.coupe.count %>
</p>

<p>
  Количество плацкартных мест:
  Верхних: <%= @train.wagons.econom.sum(:top_seats) %>
  Нижних: <%= @train.wagons.econom.sum(:low_seats) %>
</p>

<p>
  Количество купейных мест:
  Верхних: <%= @train.wagons.coupe.sum(:top_seats) %>
  Нижних: <%= @train.wagons.coupe.sum(:low_seats) %>
</p>



<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
