<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Отсутствует
  <% end %>
</p>

<p>
  <strong>Вагоны</strong>
  <% if @train.wagons.present? %>
    <% @train.current_order_wagons.each do |wagon| %><br>
      <%=  link_to "Вагон #{wagon.number}", wagon_path(wagon) %>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
