<h1>Поиск билета</h1>
<div class='row'>
  <%= form_tag(search_path, method: :post) do %>
  <div class='col-md-4'>
    <%= select :start_station, :railway_station_id, @stations.collect { |s| [s.title, s.id] }, {}, class: 'form-control' %>
  </div>
  <div class='col-md-4'>
    <%= select :end_station, :railway_station_id, @stations.collect { |s| [s.title, s.id] }, {}, class: 'form-control' %>
  </div>
  
  <div class='col-md-4'>
    <%= submit_tag "Искать", class: 'btn btn-primary' %>
    <% end %>
  </div>

  <%= render 'searches/result' %>
</div>