<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
  <% if @route.trains.empty? %>
    Список пуст
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<!-- <p>
  <strong>Станции в маршруте:</strong>
  <% if @route.railway_stations.empty? %>
    Список пуст
  <% else %>
    <ul>
      <% @route.railway_stations.each do |railway_station| %>
        <li><%= railway_station.title %></li>
      <% end %>
    </ul>
  <% end %>
</p> -->

<p>
  <strong>Cтанции в маршруте по порядку:</strong>
  <% if @route.railway_stations.empty? %>
    Список пуст
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="100px">Название</td>
        <td>Позиция</td>
        <td> Прибытие и отбытие <td>
        </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
            <%= number_field_tag :position, station.position_in(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag "Изменить" %>
            <% end %>
          </td>

          <td>
            <%= form_tag update_time_station_railway_station_path(station), method: :patch do %>
           <!--  <%= text_field_tag :arrival %>
            <%= text_field_tag :departure %> -->
<!--             <%= date_select(:station, :arrival) %>
            <%= date_select(:station, :departure) %> -->
            <%= time_select(:arrival, :arrival) %>
            <%= time_select(:departure, :departure) %>

            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag "Изменить" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
      </table>
  <% end %>
</p>





<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
