<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <%= link_to 'Routes', routes_path %> <%= link_to 'Trains', trains_path %> <%= link_to 'Railway Stations', railway_stations_path %>
  </header>
    <%= yield %>
    <footer>
      © 2017 solidkime. Учебный проект в <a href="http://thinknetica.com/">онлайн-школе Thinknetica</a>
    </footer>
  </body>
</html>
